<div class="row align-center mb-5">
  <div class="row align-center mb-5">
    <textarea id="input" placeholder="Please enter text here"></textarea>
    <button class="btn btn-primary" id="btn-test">Submit</button>
      <br>
      <br>
    <div class="fs-1 fw-bolder text-danger" id="output"></div>
      <br>
      <br>
  </div>

  <div class="container">
    <label class="bg-dark text-light rounded-3">
      <p> Please feel free to try out our translator. </p>
      <p> To get access to all of our translators, please sign-up for a free account, or login to your current account. </p>
      <h1>We put the <span class="text-primary">CAN</span> in <span class="text-primary">CAN</span> Do....</h1>
      <h3> The glorious app that you see here was brought to you by the following contributors: </h3>
        <br>
        <p>Christopher Franklin - <a href="https://github.com/Chris-Franklin-1701">Chris's GitHub Page</a></p>
        <br>
        <p>Alex Cwiklinski - <a href="https://github.com/alexcwik">Alex's GitHub Page</a></p>
        <br>
        <p>Nelson Rivera - <a href="https://github.com/riveranelson99">Nelson's GitHub Page</a></p>
        <br>
        <br>
        <p>Please feel free to contact any of the contributors at their githubs.</p>
    </label>
  </div>


</div>

{{!-- {{#unless logged_in}} --}}
<script src="./js/basicAccess.js"></script>
{{!-- {{/unless}} --}}

{{!-- {{#if logged_in}}
<script src="./js/fullAccess.js"></script>
{{/if}} --}}

{{!-- NEED TO DO
add input area
add button to input
script for functionality
    fetch (/api/basic/pirate) POST
      {input: "text from input area"}
      .then
      put pirate response on page
--}}

