<div class="row align-center mb-5">
  <div>
  <textarea id="input">Please enter text here</textarea>
  <button id="btn btn-primary btn-test">Submit</button>
  <div id="output"></div>
</div>
<script src="./js/basicAccess.js"></script>
</div>


{{!-- NEED TO DO
add input area
add button to input
script for functionality
    fetch (/api/basic/pirate) POST
      {input: "text from input area"}
      .then
      put pirate response on page
--}}

