<div class="row align-center mb-5">
  <div>
  <textarea id="input" placeholder="Please enter text here"></textarea>
  <button class="btn btn-primary" id="btn-test">Submit</button>
  <br>
  <br>
  <div id="output"></div>
</div>
</div>


<script src="./js/basicAccess.js"></script>
{{!-- NEED TO DO
add input area
add button to input
script for functionality
    fetch (/api/basic/pirate) POST
      {input: "text from input area"}
      .then
      put pirate response on page
--}}

