{{!-- <div id="wordCloud">
    <img id="wordfork">
    <img src="/images/CAN thumbnail.png" border="0" alt="wordfork"
        style="float: inline-end;/* height: 200px; */width: 400px;padding-bottom: 30px;display: flex;float: right;/* margin-top: 600px; */margin-inline-end: 330px; *//* justify-content: end; */padding-inline: 100px;padding-inline: 100px;"></a>
</div> --}}
<header>

    
</header>
<div class="container">
    <img id="wordcloud">
    <img src="/images/CAN thumbnail.png" border="0" alt="wordfork"
        style="float: inline-end;/* height: 200px; */width: 400px;padding-bottom: 30px;display: flex;float: right;/* margin-top: 600px; */margin-inline-end: 330px; *//* justify-content: end; */padding-inline: 100px;padding-inline: 100px;"></a>
    <form class="form login-form">
        <div class="form-group">
            <label class="text-light" for="email-login">email:</label>
            <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        <div class="form-group">
            <label class="text-light" for="password-login">password:</label>
            <input type="password" class="form-control" id="password-login" placeholder="Password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" style="margin-top: 10px;">login</button>
        </div>
    </form>
</div>
<a href="/signup">Do you have an account? If not, sign up here!</a>

<script src="./public/js/login.js"></script>
