{{!-- <div id="wordCloud">
    <img id="wordfork">
    <img src="/images/CAN thumbnail.png" border="0" alt="wordfork"
        style="float: inline-end;/* height: 200px; */width: 400px;padding-bottom: 30px;display: flex;float: right;/* margin-top: 600px; */margin-inline-end: 330px; *//* justify-content: end; */padding-inline: 100px;padding-inline: 100px;"></a>
</div> --}}
<header>

    
</header>
<div class="container">
    <img id="wordcloud">
    <img src="/images/CAN thumbnail.png" border="0" alt="wordfork"
        style="float: inline-end;/* height: 200px; *//* max-inline-size: fit-content; */margin-left: 250px;width: 700px;/* padding-bottom: 50px; *//* float: right; *//* margin-top: 600px; *//* margin-inline-end: 330px; */ *//* justify-content: end; */padding-inline: 100px;padding-inline: 100px;"></a>
    <form class="form login-form">
        <div class="form-group">
            <label class="text-light" for="email-login">email:</label>
            <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        <div class="form-group">
            <label class="text-light" for="password-login">password:</label>
            <input type="password" class="form-control" id="password-login" placeholder="Password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" style="margin-top: 20px;">login</button>
        </div>
    </form>
</div>
<a href="/signup" style=" margin-left: 450px;">D' ye have a account? If nay, sign up here!</a>
<footer class="page-footer center-on-small-only">
    <footer class="page-footer center-on-small-only pt-0" style="margin-top: 700px" ;>
    <div class="container">
        <div class="row pt-5 mb-3 text-center d-flex justify-content-center">
            <div class="col-md-2 mb-3">
                <h6>Professional Portfolio's</h6>
                <h6 class="title font-bold"><a href="https://riveranelson99.github.io/3rd_updated_portfolio/">Nelson's Portfolio</a></h6>
                <h6 class="title font-bold"><a href="https://chris-franklin-1701.github.io/SilverSSSC.github.io/">Chris' Portfolio</a></h6>
                <h6 class="title font-bold"><a href="https://alexcwik.github.io/my_portfolio/">Alex's Portfolio</a></h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="title font-bold"><a href="https://www.google.com/">Help</a></h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="title font-bold">Contact</a></h6>
                <h6 class="title font-bold"><a href="riveranelson99@gmail.com">riveranelson99@gmail.com</a></h6>
                <h6 class="title font-bold"><a href="chris.franklin1701@gmail.com">chris.franklin1701@gmail.com</a></h6>
                <h6 class="title font-bold"><a href="alexcwik1490@gmail.com">alexcwik1490@gmail.com</a></h6>
            </div>
            </div>
    </footer>
<script src="./js/login.js"></script>
