<div class ="signup-card">
<h2 class = "page-title">Signup</h2>
<form class="signup-form">
    <div class="form-group">
        <label for="username-signup">username:</label>
        <input class="form-input" type="text" id="username-signup">
    </div>
    <div class = "form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="username-signup">
    </div>
    <div class = "form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="text" id="Password-signup">
        <div class = "form-group">
    </div>
        <button class="btn btn-primary" type="submit">signup</button>
        </div>
    </div>
</div>

<a href="/login">Already registered as a user? Click here for login page</a>

<script src="/public/js/login.js"></script>