<h2>TRANSLATORS</h2>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
</head> 
<body>
    <main>
        <textarea id="text-input"></textarea>
        <button id="btn-translate"><b>Translate</b></button>
        <div id="output"></div>
    </main>
    <script src="./js/translator.js"></script>
</body>
</html>